#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q    &kp W    &kp E    &kp R     &kp T     &kp N0                      &kp N3      &kp Y       &kp U     &kp I     &kp O    &kp P
    &kp A    &kp S    &kp D    &kp F     &kp G     &kp N1                      &kp N4      &kp H       &kp J     &kp K     &kp L    &kp SEMI  
    &kp Z    &kp X    &kp C    &kp V     &kp B     &kp N2                      &kp N5      &kp N       &kp M     &kp COMMA &kp DOT  &kp FSLH
            >;
        };
    };
};