#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define DEFAULT 0
#define LOWER   1
#define RAISE   2
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q    &kp W    &kp E    &kp R     &kp T     &kp SPACE                   &kp RSHIFT     &kp Y       &kp U     &kp I     &kp O    &kp P
    &kp A    &kp S    &kp D    &kp F     &kp G     &kp LWIN                    &mo RAISE      &kp H       &kp J     &kp K     &kp L    &kp SEMI  
    &kp Z    &kp X    &kp C    &kp V     &kp B     &kp ENTER                   &mo LOWER      &kp N       &kp M     &kp COMMA &kp DOT  &kp FSLH
            >;
        };
        default_layer {
            bindings = <
    &BT_SEL 0     &BT_SEL 1     &BT_SEL 2   &BT_SEL 3  &BT_SEL 4 &&bt BT_CLR                 &kp N3      &kp K_CUT      &kp N0     &kp N7    &kp N8    &kp N9
    &kp C_VOL_UP  &kp C_BRI_UP  &kp C_NEXT  &kp F      &kp G     &kp N1                      &mo RAISE   &kp K_PASTE    &kp K_REDO   &kp N4    &kp N5    &kp N6  
    &kp C_VOL_DN  &kp C_BRI_DN  &kp C_PREV  &kp V      &kp B     &kp N2                      &mo LOWER   &kp K_COPY     &kp K_UNDO   &kp N1    &kp N2    &kp N3
            >;
        };
        default_layer {
            bindings = <
    &kp Q    &kp W    &kp E    &kp R     &kp T     &kp N0                      &kp N3      &kp Y       &kp U     &kp I     &kp O    &kp P
    &kp A    &kp S    &kp D    &kp F     &kp G     &kp N1                      &mo RAISE      &kp H       &kp J     &kp K     &kp L    &kp SEMI  
    &kp Z    &kp X    &kp C    &kp V     &kp B     &kp N2                      &mo LOWER      &kp N       &kp M     &kp COMMA &kp DOT  &kp FSLH
            >;
        };
    };
};